body {
    background-color: #f2f2f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    width: 300px;
    background-color: #ffffff;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

.message {
    margin-top: 15px;
}